<aside class="author-box" aria-label="Tentang penulis">

  <div class="author-box-inner">

    <div class="author-avatar">
      <img
        src="/assets/images/hairul-anuar.jpeg"
        alt="Hairul Anuar Bin Sulaiman"
        loading="lazy"
        width="64"
        height="64">
    </div>

    <div class="author-details">

      <p class="author-name">
        <strong>Hairul Anuar Bin Sulaiman, Assoc. Shariah RFP</strong>
      </p>

      <p class="author-bio">
        Islamic Financial Adviser Representative (IFAR)<br>
        Unit Trust Scheme Consultant
      </p>

      <p class="author-description">
        Membantu individu, keluarga dan pemilik perniagaan membuat keputusan kewangan yang lebih yakin melalui perancangan kewangan patuh Syariah.
      </p>

      <p class="author-link">
        <a href="/about/">Mengenai Hairul Anuar &rarr;</a>
      </p>

    </div>

  </div>

</aside>
