<!-- MINIMALIST QUIET LUXURY AUTHOR BOX -->
<div class="luxury-author-box">
  <img 
    src="{{ '/assets/images/hairul-anuar.jpeg' | relative_url }}" 
    alt="Hairul Anuar Bin Sulaiman" 
    class="luxury-author-avatar"
    width="72"
    height="72"
    loading="lazy"
  >
  <div class="luxury-author-meta">
    <p class="luxury-author-name">Hairul Anuar Bin Sulaiman</p>
    <p class="luxury-author-title">Associate Shariah Registered Financial Planner</p>
    <p class="luxury-author-bio">
      Islamic Financial Adviser Representative & Unit Trust Scheme Consultant
    </p>
  </div>
</div>
