---
layout: default
---

<article class="google-article-wrapper">
  <div class="google-article-container">
    
    <span class="google-article-category">{{ page.category }}</span>

    <h1 class="google-article-title">{{ page.title }}</h1>

    <div class="google-byline-container">
      <img src="{{ '/assets/images/hairul-anuar.jpeg' | relative_url }}" alt="Hairul Anuar Sulaiman" class="google-byline-avatar">
      <div>
        <div class="google-byline-author">Hairul Anuar Bin Sulaiman</div>
        <div class="google-byline-meta">Associate Shariah Registered Financial Planner • {{ page.date | date: "%d %b %Y" }}</div>
      </div>
    </div>

    <div class="google-article-content">
      {{ content }}
    </div>


   {% include author-box.html %} 
    
  </div>
</article>

{% include related-articles.html %}
{% include conversation.html %}
